:root {
  /* Colors */
  --white-text: #ffffff;
  --span-red-color: #ff073b;
  --grey-text: #c3c4c6;
}

.container {
  padding: 15px;
  margin: 0 20%;
}

.introduction-container {
  display: flex;
  gap: 200px;
}

.main-banner {
  height: 500px;
  background-image: url(assets/imgs/MainBanner.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.main-banner h1 {
  color: #ffffff;
  font-size: 43px;
  font-weight: 800;
  width: 400px;
}

.main-banner span {
  color: var(--span-red-color);
}

.introduction-card {
  background-color: #0a101f;
  border-radius: 10px;
  padding: 20px;
  width: 430px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.introduction-card h1 {
  font-size: 40px;
  height: auto;
}

.introduction-card p {
  color: var(--white-text);
}

.btn {
  background-color: #ff083b;
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--white-text);
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}

.introduction-card button {
  width: 400px;
}

.main-content {
}

.partners-section-container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #f4f4f4;
  color: var(--grey-text);
  margin: 0;
}

.partners {
  display: flex;
  gap: 40px;
}

.how-it-works-section-content {
  display: flex;
  align-items: center;
}

.how-it-works-section-content h1 {
  font-size: 37px;
  line-height: 1.2cm;
  margin-top: 10px;
}

.how-it-works-section-content span {
  color: var(--span-red-color);
}

.how-it-works-section-content p {
  font-size: 18px;
  text-align: justify;
}

.how-it-works-section-content img {
  margin-left: 15px;
}

.how-it-works-section-content button {
  width: 230px;
  padding: 15px 10px;
}

.how-it-works-card {
    background-image: url(assets/imgs/RegisterBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 100px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px;
}

.how-it-works-card h1 {
    color: var(--white-text);
    font-size: 40px;
    width: 500px;
}

.how-it-works-card p {
    color: var(--white-text);
}

.how-it-works-card button {
    width: 200px;
    padding: 15px 10px;
}

.block-text-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.block-text-bottom h1 {
    width: 750px;
    font-size: 30px;
    margin-bottom: 100px;
}

.search-section {
    background-color: #0e1323;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.search-container span {
    color: var(--span-red-color);
    font-size: 30px;
    font-weight: 800;
}

.search-container h1 {
    font-size: 60px;
    width: 500px;
    color: var(--white-text);
    line-height: 1.7cm;
}

.search-container form {
    margin-top: 50px;
}

.search-container ul {
    list-style: none;
}
.search-container ul li {
    margin-bottom: 10px;
}

.search-container input {
    border: solid 1px #394778;
    font-size: 15px;
    padding: 15px;
    width: 450px;
    background: #ffffff;
    border-radius: 30px;
}

.search-button {
    width: 100%;
    margin: 0;
}

.blog-top-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.spliter {
    border: solid 2px #e9e9e9;
    height: 75px;
    margin: 0 20px;
}

.blog-top-row p {
    width: 500px;
}

.blog-top-row span {
    color: var(--span-red-color);
}

.blog-top-row h1 {
    font-size: 40px;
}

.see-toppics {
    margin-top: 0;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
}

.post-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}